# python 3.12
# pip
astropy==7.2.0
astroquery==0.4.11
barycorrpy==0.4.4
Bottleneck==1.6.0
duckdb==1.4.4
matplotlib==3.10.8
GitPython==3.1.46
gspread-pandas==3.3.0
gspread==5.12.4
llvmlite==0.45.1
numba==0.62.1
numexpr==2.14.1
numpy==2.3.4
pandas==3.0.1
pandastable==0.14.0
pandasql==0.7.3
Pillow==12.1.1
psutil==7.2.2
requests==2.33.1
chardet<6
pytz==2025.2
PyYAML==6.0.3
scikit-image==0.26.0
scipy==1.17.1
tqdm==4.67.3
yagmail==0.15.293
lbl @ git+https://github.com/njcuk9999/lbl.git

# pip: if using mysql
mysql-connector-python==8.3.0
SQLAlchemy==2.0.47
