# python 3.11
# pip
astropy==7.0.1
astroquery==0.4.9.post1
barycorrpy==0.4.4
Bottleneck==1.4.2
duckdb==1.2.0
matplotlib==3.10.1
GitPython==3.1.44
gspread-pandas==3.3.0
gspread==5.12.4
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
pandas==2.2.3
pandastable==0.13.1
pandasql==0.7.3
Pillow==11.1.0
psutil==7.0.0
PyYAML==6.0.2
scikit-image==0.25.2
scipy==1.15.2
tqdm==4.67.1
yagmail==0.15.293
# lbl @ git+https://github.com/njcuk9999/lbl.git@apero_v7

# pip: if using mysql
mysql-connector-python==9.2.0
SQLAlchemy==2.0.38

# pip: developer only
bokeh==3.6.3
gitchangelog==3.0.4
ipdb==0.13.13
ipython==8.32.0
Sphinx==8.2.1
ttkthemes==3.2.2
xlrd==2.0.1
