# pip
astropy==4.1
astroquery==0.4.1
barycorrpy==0.3.4
bottleneck==1.3.2
matplotlib==3.3.3
numba==0.51.2
numpy==1.19.2
pandas==1.1.4
pandastable==0.12.2
Pillow==8.0.1
pyyaml==5.3.1
scipy==1.5.4
tqdm==4.52.0
yagmail==0.14.245

# pip: if using mysql
mysql-connector-python==8.0.23
sqlalchemy==1.3.22

# pip: developer only
gitchangelog==3.0.4
ipdb==0.13.4
ipython==7.19.0
sphinx==3.3.1
xlrd==1.2.0